# Simulações

### Teste 1

```python
# Condições iniciais
x0 = 0                 # Posição inicial no eixo x (m)
y0 = 1                # Posição inicial no eixo y (m)
a = np.radians(5)      # Ângulo de ataque inicial em radianos (conversão de 10 graus)
v0 = 18               # velocidade inicial
vx0 = v0 * np.cos(a)   # Velocidade inicial no eixo x (m/s)
vy0 = v0 * np.sin(a)   # Velocidade inicial no eixo y (m/s)
```

### Teste 2

```python
# Condições iniciais
x0 = 0                # Posição inicial no eixo x (m)
y0 = 1                # Posição inicial no eixo y (m)
a = np.radians(7.5)   # Ângulo de ataque inicial em radianos (conversão de 10 graus)
v0 = 18               # velocidade inicial
vx0 = v0 * np.cos(a)  # Velocidade inicial no eixo x (m/s)
vy0 = v0 * np.sin(a)  # Velocidade inicial no eixo y (m/s)
```

### Teste 3

```python
# Condições iniciais
x0 = 0                # Posição inicial no eixo x (m)
y0 = 1                # Posição inicial no eixo y (m)
a = np.radians(0)   # Ângulo de ataque inicial em radianos (conversão de 10 graus)
v0 = 14               # velocidade inicial
vx0 = v0 * np.cos(a)  # Velocidade inicial no eixo x (m/s)
vy0 = v0 * np.sin(a)  # Velocidade inicial no eixo y (m/s)
```
